body {
    /* max-width: 1360px !important; */
    margin: 0 auto !important;
    /* padding-top: 15px !important; */
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.s-row {
    display: flex;
    flex-direction: row;
    font-family: 'Niramit';
    background-color: #FAFAFA;
    width: 100%;
}

.s-row > .s-col:first-child {
	border-right: 1px solid #ffffff !important;
	max-width: 300px !important;
}

.s-row > .s-col:last-child {
	background: #ffffff;
}

.navbar-dark .navbar-nav .nav-link { 
    color:white; 
    cursor: pointer;
}

.navbar-dark .navbar-nav .nav-link:hover { 
    color:#FF730D !important;
    cursor: pointer;
}

#k-nav{
	color:white;
}

.footer {
    width:100%;
    background-color: black;
    height: 145px;
}

.footer_logo {
    
    left: 10px;
    top:0px;
}

.line { 
    box-sizing: border-box;
    height: 2px;
    width: 1200px;
    border: 1px solid #979797;
    opacity: 0.2;
    position: relative;
    margin: 0 auto;
    top: 84px;
}

.footer p {
    position: relative;
    color:white !important;
    float: left;
    text-align: center;
    right: 160px;
    height: 18px;
    width: 493px;
    opacity: 0.5;
    color: #FFFFFF;
    font-family: 'Niramit';
    font-size: 14px;
    line-height: 18px;
}

.footer a{
    position: relative;
    color:white !important;
    font-family:'Niramit';
    font-size: 16;
    font-weight: 500;
}

.footer a:hover { 
    color:#FF730D !important; 
    cursor: pointer;
    text-decoration: underline !important;
}

.footer_links {
    float: left;
    width: 500px;
    margin: auto;
    /* display: block; */
    position: relative;
    text-align: center;
    left: 30%;
}
/* layout */

body {
    /* max-width: 1360px !important; */
    margin: 0 auto !important;
    /* padding-top: 15px !important; */
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.s-row {
    display: flex;
    flex-direction: row;
    font-family: 'Niramit';
    background-color: #FAFAFA;
    width: 100%;
}

.s-row-header {
    min-height : 250px;
    background-color: #FAFAFA;
}

.contract-info{
    position: relative;
    bottom: 17px;
}

.s-col {
    flex: 1 !important;
    font-family: 'Roboto', sans-serif;
    padding: 15px !important;
}

.s-row > .s-col:first-child {
    border-right: 1px solid #ffffff !important;
    max-width: 300px !important;
}

.s-row > .s-col:last-child {
    background: #ffffff;
}

.flex {
    /* display: flex !important; */
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

@media all and (max-width: 767px) {
    .s-row {
        flex-direction: column;
    }

    .s-row > .s-col:first-child {
        border-right: none;
        max-width: none;
    }
}

/* apps */

.authors-list {
    color: #9d9d9d;
    font-weight: bold;
}

.ratings-list {
    padding: 10px 0;
}

.avg-rating {
    color: #6b6b6b;
    margin-left: 5px;
}

.stars {
    color: gold;
}

.location {
    color: salmon;
    margin-right: 5px;
}

.meetup-location {
    margin: 4px 0;
}

.book-title {
    white-space: normal;
    margin-top: 4px;
}

.book-title-card {
    white-space: normal;
    margin-top: 4px;
    max-height: 45px;
}

.book-image {
    height: 150px;
    width: 110px;
    background-size: cover;
}

.book-header {
    font-weight: bold;
    margin-bottom: 5px;
}

.book-content {
    background: white;
    font-family: 'Roboto', sans-serif;
    position: relative;
    width: 700px;
    left:30px;
}

.line-3 {
    box-sizing: border-box;
    height: 2px;
    display:none;
    width: 816px;
    border: 1px solid #979797;
    opacity: 0.3;}

.meetup-title {
    white-space: normal;
}

.meetup-topics {
    height: 35px;
    overflow: hidden;
}

.meetup-topic {
    background-color: #dedede;
    color: #555;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 4px;
}

.meetup-topic:first-child {
    margin-left: 0;
}

.s-col .meetup-list-image {
    background-size: cover;
}

.body-container {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 137px;
}

.body-inner-container {
    position: relative;
    left: 20px;
    min-height: 1500px;
}

.contract-intro button {
    position: relative;
    color:white;
    font-family: 'Niramit';
    float: right;
    bottom: 45px;
    right: 40px;
    height: 46px;
    width: 131px;
    border-radius: 4px;
    background-color: #FF730D;
}

pre {
    all: initial;
    display: block;
    font-size: 90.5%;
    color: #212529;
    margin-top: 0;
    margin-bottom: 1rem;
    white-space: pre-line;
    margin: 1em 0px;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }

  /* Custom CSS */ 
  .cust_header {
    color:white;
    position:relative;
    left:69px;
    top:30px;
    font-family:'Niramit';
    font-size: 16;
    font-weight: 500;
  }

  .navbar-dark .navbar-nav .nav-link { 
    color:white; 
    cursor: pointer;
  }

  .navbar-dark .navbar-nav .nav-link:hover { 
    color:#FF730D !important; 
    cursor: pointer;
  }

  .cust_footer {
    width:100%;
    background-color: black;
    height: 84px;
  }

  .cust_footer p {
    position: relative;
    color:white !important;
    float: left;
    text-align: center;
    right: 160px;
    height: 18px;
    width: 493px;
    opacity: 0.5;
    color: #FFFFFF;
    font-family: 'Niramit';
    font-size: 14px;
    line-height: 18px;
  }

  .cust_footer a{
    position: relative;
    color:white !important;
    font-family:'Niramit';
    font-size: 16;
    font-weight: 500;
  }

  .cust_footer a:hover { 
    color:#FF730D !important; 
    cursor: pointer;
    text-decoration: underline !important;
  }

  .footer_links {
    float: left;
    width: 500px;
    margin: auto;
    /* display: block; */
    position: relative;
    text-align: center;
    left: 30%;
  }

  .footer_logo {
      position: relative;
      left:120px;
      top:24px;
  }

  .line { 
      box-sizing: border-box;
      height: 2px;
      width: 1200px;
      border: 1px solid #979797;
      opacity: 0.2;
      position: relative;
      margin: 0 auto;
      top: 84px;
}

.search-content {
    width:1200px;
    position:relative;
    margin:0 auto;
}

.s-row-header label {
    height: 50px;
    width: 620px;
    color: #8B8B8B;
    font-family: 'Niramit';
    font-size: 24px;
    font-weight: bold;
    line-height: 50px;
    position: relative;
    left:19px;
    top:30px;
}

.name-list-container label {
    height: 50px;
    width: 620px;
    color: #8B8B8B;
    font-family: 'Niramit';
    font-size: 24px;
    font-weight: bold;
    line-height: 50px;
    position: relative;
    top:30px;
}

.rectangle {
    position: absolute;
    top:104px;
    left:20px;
}

.rectangle input {
    height: 65px !important;
    width: 721px !important;    
    border-radius: 4px; 
    background-color: #FFFFFF;  
    box-shadow: 0 2px 24px 0 rgba(158,158,158,0.5);
    color: #111111;
    font-family: 'Niramit' !important;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
}

.rectangle ul {
    position: absolute;
    width: 721px !important;
    font-family: 'Niramit';
    top: 69px;
    z-index: 15;
    font-size: 16px;
    font-weight: 600;
    color: #111111;
    line-height: 21px;
}

.rectangle svg.cancel-icon {
    position: relative;
    right:20px;
    bottom:5px;
    height: 24px;
    width: 24px;
    fill: #898989;
}

.selec-filter-container {
    position: absolute;
    top:190px;
    left:22px;
}

.selec-filter-container a {
    height: 28px;
    /* width: 203px; */
    opacity: 0.48;
    border-radius: 15px;
    background-color: #D8D8D8;
}

.filters {
    width: 300px !important;
    border-radius: 4px 0 0 4px;
    background-color: #F2F2F2;
    position: relative;
    left:22px;
}

#filter-header {
    position: relative;
    top:5px;
    left:8px;
    color: #474B5A;
    font-family: 'Niramit';
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}

.filter-multi-select {
    position: relative;
    top:17px;
    width: 252px !important;
    left:8px;
    font-family: 'Niramit';
}

.filter-multi-select input {
    height: 40px;
    width: 261px;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #AAAAAA;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}

.filter-multi-select ul {
    position: relative;
    font-size: 14px !important;
    top:15px;
}

.filter-date {
    position: relative;
    top:17px;
    width: 252px !important;
    left:8px;
    font-family: 'Niramit';
}

.filter-date h2 {
    color: #111111;
    font-size: 16px;    
    font-weight: bold;  
    line-height: 21px;
}

.css-1mfaru8 div{
    opacity: 0.8;   
    background-color: #D8D8D8;
}

.css-tuua3w .rheostat-progress {
    background-color: #FF730D !important;
}

.css-tuua3w .rheostat-handle {
    border: 1px solid #FF730D !important;
}

.book-content h5{
    opacity: 0.7;
    color: #111111;
    font-family: 'Niramit';
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
}

.result-title {
    color: #111111;
    font-family: 'Niramit';
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
}

.result-info-content {
    color: #4E556C;
    font-family: 'Niramit'; 
    font-size: 16px;
    line-height: 22px;
}

.book-content h6{
    color: #808AA8;
    font-family: 'Niramit';
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
}

.landing-content {
    max-width: 1400px;
    min-height: 1500px;
    margin: 0 auto;
    top:0px;
    position: relative;
}
.hero {
    max-width: 80%;
}

.hero img{
    position: relative;
    float:right;
}

.hero-button {
    margin-right: 41px;
    position: relative;
    z-index: 1000;
    height: 109px;
    display: inline-block;
    width: 366.66px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 3px 14px 0 rgba(183,183,183,0.5);
}

.hero-button-container {
    position: relative;
    width: 820px;
    top:206px;
    z-index: 10;
    display: inline-block;
}

.hero-text {
    position: relative;
    top:55px;
    left:19px;
    float:left;
    width:500px;
}

.catagories-list {
    position: relative;
    top:19px;
    width:1170px;
}

.catagories-list ul li {
    list-style-type: none;
    padding:4px;
}

.catagories-list ul li:first-child {
    width: 242px;
    color: #000000;
    font-family: Niramit;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    position: relative;
    right:10px;
}

.hero-text h4 {
    height: 100px;
    width: 457px;
    color: #111111;
    font-family: Niramit;
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
}

.hero-text h6 {
    height: 50px;
    width: 555px;
    color: #8B8B8B;
    font-family: Niramit;
    font-size: 24px;
    font-weight: bold;
    line-height: 50px;
}

.hero-button .category-box-title{
    position: relative;
    left:20px;
    top:22px;
    height: 32px;
    width: 224px;
    color: #FF730D;
    font-family: Niramit;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    margin-bottom: 0;
}

.hero-button .category-box {
    position: relative;
    text-align: left;
    float:left;
    left:20px;
    top:25px;
    height: 45px;
    width: 200px;
    color: #AAAAAA;
    font-family: Niramit;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 0;
}

.catagories-list .row {
    margin-bottom: 370px;
}
.row-title {
    margin-top: 23px;
}

.hero-button div {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    position: relative;
    float: right;
    right: 18px;
}

.css-1nqnto3 svg.search-icon {
    height: 25px;
    float:right;
    width: 25px;
    left:670px;
    fill: #FF730D !important;
}

.css-1lham4k {
    padding-left: 42px !important;
}

.result-list-container {
    position: relative;
    left: 16px;
}

.navbar-toggler {
    border: none;
}

.back-header {
    width: 300px;
    position: relative;
    top:31px;
    height: 50px;
}

.line-3 {
    position: relative;
    top:19px;
    box-sizing: border-box;
    height: 2px;
    width: 1170px;
    border: 1px solid #979797;
    opacity: 0.26;
}

.contract-intro {
    position: relative;
    top:25px;
}

.contract-intro h6 {
    height: 21px;
    opacity: 0.7;
    color: #111111;
    font-family: Niramit;
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
}

.contract-intro h4 {
    width: 521px;
    color: #111111;
    font-family: Niramit;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}

.contract-info-detail {
    position: relative;
    float: left;
    right: 15px;
    font-size: 15px;
}

.contract-info-detail-filling {
    height: 21px;
    color: #4E556C;
    font-family: Niramit;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
}

.article-content {
    position: relative;
    border-top: solid;
    border-radius: 4px;
    border-color: #FF730D;
    background-color: #FFFFFF;
    box-shadow: 0 1px 6px 0 rgba(183,183,183,0.5);
    border-width: 5px;
    width: 95%;
    top: 30px;
    right: 15px; 
}

.contract-tags {
    position: relative;
    height: 24px;
    margin-right: 10px;
    text-align: center;
    display: inline-block;
    opacity: 0.48;
    border-radius: 15px;
    background-color: #D8D8D8;
}

.tags-container {
    position: relative;
    top:7px;
    display: inline-block;
}

.contract-tags label{
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    width: auto;
    color: #5B5B5B;
    font-family: Niramit;
    font-size: 13px;
    font-weight: bold;
    line-height: 17px;
    display: inline-block;
}

.back-header div {
    height: 50px;
    padding-right: 10px;
    float: left;
}

.back-header label {
    height: 50px;
    float: left;
    height: 21px;
    color: #FF730D;
    font-family: Niramit;
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
}

.popular-cat {
top: 258px;
    position: relative;
}
.popular-cat label {
    height: 32px;
    width: 209px;
    color: #111111;
    font-family: Niramit;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}

.name-list-container {
    position: relative;
    margin:0 auto;
    width:80%;
    min-height: 8000px;
}

.css-vj8t7z {
    position: relative;
    box-sizing: border-box;
    height: 65px;
    width: 721px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 24px 0 rgba(158,158,158,0.5);
}

.css-2o5izw {
    position: relative;
    box-sizing: border-box;
    height: 65px;
    width: 721px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 24px 0 rgba(158,158,158,0.5);
}

.css-1g6gooi {
    position: relative;
    left:30px;
}

.css-1492t68 {
    position: relative;
    left:30px;
    height: 21px;
    width: 213px;
    color: #AAAAAA;
    font-family: Niramit;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
}

.css-11unzgr{
    max-width: 721px !important;
}

.css-15k3avv{
    max-width: 721px !important;
}

.select-container {
    position: relative;
    top:44px;
}

.name-list-inter {
    position: relative;
    left:19px;
}

.page-item a:hover {
    background-color: #FF730D;
    color:white;
}

.page-link {
    border: none;
    border-radius: 50% !important;
    color: #8B8B8B;
    background-color: none;
    width: 36px;
    height: 36px;
    text-align: center;
    font-family: Niramit;
    font-size: 18px;
    padding: 8px;
    font-weight: bold;
    line-height: 24px;
}

.alphabetical-name-list {
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 6px 0 rgba(183,183,183,0.5);
}

.alphabetical-name-list h2 {
    position: relative;
    top:18px;
    left:18px;
    color: #111111;
    font-family: Niramit;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}

.alphabetical-name-list h3 {
    padding-top:20px;
    color: #111111;
    font-family: Niramit;
    font-size: 22px;
    font-weight: bold;
    line-height: 28px;
}

.we-name-list {
    top: 73px;
    position: relative;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 6px 0 rgba(183,183,183,0.5);
}

.we-name-list h2 {
    position: relative;
    top:18px;
    left:18px;
    color: #111111;
    font-family: Niramit;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}

.we-name-list h3 {
    padding-top:20px;
    color: #111111;
    font-family: Niramit;
    font-size: 22px;
    font-weight: bold;
    line-height: 28px;
}

.alph-item-list {
    position: relative;
    top:18px;
    left:18px;
    color: #4E556C;
    font-family: Niramit;
    font-size: 16px;
    line-height: 28px;
    min-height: 6120px;
}

.alph-item-list a{
    color: #4E556C;
    font-family: Niramit;
    font-size: 16px;
    text-transform: capitalize;
}

.alph-item-list a:hover{
    color: #FF730D;
    font-family: Niramit;
    font-size: 16px;
}

.alph-seperator {   
    box-sizing: border-box;
    height: 2px;
    margin-left:6px;
    margin-right:33px;
    border: 1px solid #979797;
    opacity: 0.5;
}

.alph-content-per-letter .alph-seperator:last-child
{
    display:none;
}

.alph-col {
    min-width: 176px;
}

.select-container img{
    position: relative;
    bottom:42px;
    left:10px;
    width:20px;
}
#k-nav{
    color:white;
}

.about-list-inter {
    position: relative;
    left:19px;
    top: 37px;
}

.about-wrapper { 
    width: 500px;
    display: flex;
}

.about-vision p {
    padding-top: 22px;
    position: relative;
    left: 39px;
    top: 43px;
    height: 253px;
    color: #FFFFFF;
    font-family: Niramit;
    font-size: 24px;
    line-height: 32px;
    margin-right: 86px;
}

.about-vision h3 {
    position: relative;
    top: 43px;
    left: 39px;
    width: 305px;
    color: #FFFFFF;
    font-family: Niramit;
    font-size: 50px;
    font-weight: 600;
    line-height: 65px;
}

.about-vision {
    background-color: #000000;
    color:white;
    position: relative;
    top:50px;
    height:489px;
}

.we-have-container p{
    height: 99px;
    width: 1009px;
    color: #4E556C;
    font-family: Niramit;
    font-size: 16px;
    line-height: 21px;
    padding-top: 20px;
    padding-left: 20px;
}

.about-wrapper-number {
    height: 45px;
    width: 79px;
    color: #111111;
    font-family: Niramit;
    font-size: 34px;
    font-weight: bold;
    line-height: 45px;
}

.about-wrapper-text {
    height: 50px;
    width: 89px;
    color: #8B8B8B;
    font-family: Niramit;
    font-size: 20px;
    line-height: 50px;
    margin-right: 55px;
}

.team-container {
    position: relative;
    left:0px;
}

.team-information {
    position: relative;
    top: 25px;
    max-width: 800px;
    margin-left: 4px;
}

.team-information-picture img{
    height: 346px;
}

.team-information h4{
    height: 26px;
    width: 180px;
    color: #111111;
    font-family: Niramit;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
}

.team-information p{
    height: 147px;
    color: #4E556C;
    font-family: Niramit;
    font-size: 16px;
    line-height: 21px;
}

.contact-us {
    margin-top: 30px;
}

.contact-us h2{
    height: 26px;
    color: #111111;
    font-family: Niramit;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
}

.contact-us h3{
    height: 50px;
    color: #8B8B8B;
    font-family: Niramit;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
}

.contact-us p{
    height: 26px;
    color: #111111; 
    font-family: Niramit;   
    font-size: 20px;    
    font-weight: 600;   
    line-height: 26px;
}

.we-have {
    position: relative;
    top: 120px !important;
}

.people-info {
    padding-top: 20px;
}

.contact-information {
    width:800px;
    margin-left:0px;
    padding-bottom: 40px;   
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav {
        position: relative;
        left: 117px;
    }

    .tags-container {
        position: relative;
        top:-46px;
        padding-top: 4px;
        width: 100%;
        display: inline-block;
    }

    .nav-item {
        padding-right: 43px;
    }

    .navbar-brand {
        left:111px;
    }

    .s-row {
        bottom: 15px;
    }

    .cust_footer {
        width:100%;
        background-color: black;
        height: 145px;
      }

    .cust_footer p {
        position: relative;
        color: white !important;
        float: left;
        text-align: center;
        right: 160px;
        height: 18px;
        width: 493px;
        opacity: 0.5;
        top: 66px;
        color: #FFFFFF;
        font-family: 'Niramit';
        font-size: 14px;
        line-height: 18px;
    }
    .mobile-alph-list {
        display:none;
    }
}

.name-list-container-2 {
    position: relative;
    margin: 0 auto;
    width: 80%;
    min-height: 3196px;
}

@media (max-width: 1224px) {

    .about-vision {
        height: 1013px;
    }

    .team-container {
        top: 275px;
    }

    .doc-information {
        position: relative;
        top:238px;
    }

    .team-information-picture img {
        height: 269px;
    }

    .people-info {
        padding-top: 20px;
    }

    .contact-us {
        margin-top: 438px;
    }

    .contact-information {
        width:200px;
        position: relative;
        top:30px;
        margin-left:0px;
        padding-bottom: 40px;   
    }

    .s-row {
        position: relative;
        bottom: 15px;
    }

    #k-nav{
        top: 9px;
    }

    .nav-item {
        position: relative;
        left: 35px;
    }
    .navbar-brand {
        left:27px;
    }

    .cust_footer p {
        position: relative;
        height: 26px;
        width: 265px !important;
        opacity: 0.5;
        color: #FFFFFF;
        font-family: 'Niramit';
        font-size: 10px;
        line-height: 13px;
        text-align: center;
        left: 60px;
        top: 10px;
      }

      .footer_logo {
        text-align: center;
        left: 10px;
        top:0px;
    }

    .body-container {
        margin-left: 0;
        margin-right: 0;
        height: 1400px;
        padding-bottom: 137px;
    }

    .contract-intro h4 {
        max-width: 267px !important;
    }

    .contract-intro button {
        top:12px !important;
    }

    .article-content {
        max-width:369px;
        min-height: 1000px;
        overflow:hidden;
        overflow-y: scroll;
    }

    .landing-content {
        margin-left: 21px;
        margin-right: 21px;
        overflow-x: hidden;
    }

    .hero-text h4 {
        height: 50px;
        width: 226px;
        color: #111111;
        font-family: Niramit;
        font-size: 20px;
        font-weight: bold;
        line-height: 25px;
        bottom:37px;
    }

    .hero-text h6 {
        height: 50px;
        width: 282px;
        color: #8B8B8B;
        font-family: Niramit;   
        font-size: 16px;    
        font-weight: bold;
        line-height: 50px;
        bottom: 50px;
    }

    .rectangle-landing {
        position: absolute;
        top:-50px !important;
        left:2px;
    }

    .rectangle input {
        height: 47px !important;
        width: 330px !important;    
        border-radius: 4px; 
        background-color: #FFFFFF;  
        box-shadow: 0 2px 24px 0 rgba(158,158,158,0.5);
        color: #111111;
        font-family: 'Niramit' !important;
        font-size: 16px;
        font-weight: 600;
        line-height: 21px;
    }

    .rectangle ul {
        position: relative;
        width: 330px !important;
        font-family: 'Niramit';
        top:2px;
        font-size: 16px;
        font-weight: 600;
        color: #111111;
        line-height: 21px;
    }

    .rectangle svg.cancel-icon {
        position: relative;
        right:20px;
        bottom:5px;
        height: 24px;
        width: 24px;
        fill: #898989;
    }   
    
    .hero-button {
        margin-right: 41px;
        height: 88px;
        margin-top: 20px;
        width: 330px;
        border-radius: 4px;
        background-color: #FFECDD;
        box-shadow: 0 1px 4px 0 rgba(183,183,183,0.5);
    }

    .hero-button-container {
        position: relative;
        width: 300px;
        top: -46px !important;
        z-index: 1000;
        display: inline-block;
    }

    .hero-button .category-box-title{
        position: relative;
        left:20px;
        top:7px;
        height: 24px;
        width: 168px;
        color: #FF730D; 
        font-family: Niramit;   
        font-size: 18px;    
        font-weight: bold;  
        line-height: 24px;
        margin-bottom: 0;
    }
    
    .hero-button .category-box {
        position: relative;
        text-align: left;
        float:left;
        left:20px;
        top:5px;
        height: 45px;
        width: 243px;   
        color: #AAAAAA; 
        font-family: Niramit;   
        font-size: 14px;    
        font-weight: 500;   
        line-height: 18px;
        margin-bottom: 0;
    }

    .popular-cat {
        top: 0;
        position: relative;
    }

    .popular-cat label {
        height: 26px;
        width: 274px;
        color: #111111;
        font-family: Niramit;
        font-size: 20px;
        font-weight: 600;
        line-height: 26px;
    }

    .catagories-list {
        position: relative;
        top:19px;
        width:auto;
    }
    
    .catagories-list ul li {
        list-style-type: none;
        padding:4px;
    }
    
    .catagories-list ul li:first-child {
        height: 21px;
        color: #000000; 
        font-family: Niramit;   
        font-size: 16px;    
        font-weight: 500;   
        line-height: 21px;
    }

    .line {
        display: none;
    }

    .name-list-container label {
        position: relative;
        right:0px;
        top:0px;
        font-size: 16px !important; 
    }

    .css-vj8t7z {
        position: relative;
        height: 47px;
        width: 266px;
        border-radius: 4px;
        background-color: #FFFFFF;
        box-shadow: 0 2px 24px 0 rgba(158,158,158,0.5);
    }
    
    .css-2o5izw {
        position: relative;
        height: 47px;
        width: 266px;
        border-radius: 4px;
        background-color: #FFFFFF;
        box-shadow: 0 2px 24px 0 rgba(158,158,158,0.5);
    }
    
    .css-1g6gooi {
        position: relative;
        left:0px;
    }
    
    .css-1492t68 {
        position: relative;
        left:30px;
        height: 21px;
        width: 213px;
        color: #AAAAAA;
        font-family: Niramit;
        font-size: 13px;
        font-weight: 500;
        line-height: 21px;
    }
    
    .css-11unzgr{
        max-width: 721px !important;
    }
    
    .css-15k3avv{
        max-width: 721px !important;
    }
    
    .select-container {
        position: relative;
        top:0px;
        right:0px;
    }

    .alph-list {
        display:none;
    }

    .mobile-alph-list {
        height: 17px;
        color: #2B2B2B;
        font-family: Niramit;
        font-size: 5px;
        line-height: 17px;
        text-align: left;
    }

    .mobile-alph-list label {
        position: relative;
        float: left;
        right: 0px;
        top: -80px;
    }

    .mobile-alph-list select {
        position: relative;
        float: left;
        top: -122px;
        left: 280px;
        font-size: 13px;
        z-index: 100;
        border: 0px;
        background: none;
        outline:0px;
    }

    .alphabetical-name-list h2 {
        position: relative;
        top: -16px;
        left: -6px;
        color: #111111;
        font-family: Niramit;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
    }

    .we-name-list h2 {
        position: relative;
        top: 20px;
        left: 20px;
        color: #111111;
        font-family: Niramit;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
    }

    .alph-item-list {
        position: relative;
        top: -13px;
        left: 18px;
        color: #4E556C;
        font-family: Niramit;
        font-size: 16px;
        line-height: 28px;
        min-height: 6120px;
    }

    .alphabetical-name-list {
        position: relative !important;
        top: 39px !important;
        right: 10px;
        width: 310px;
        margin: 0 auto;
        border-radius: 4px;
        background-color: #FFFFFF;
        box-shadow: 0 1px 6px 0 rgba(183,183,183,0.5);
    }

    .we-name-list {
        position: relative !important;
        top: 100px !important;
        right: 10px;
        width: 310px;
        height: 2300px;
        margin: 0 auto;
        border-radius: 4px;
        background-color: #FFFFFF;
        box-shadow: 0 1px 6px 0 rgba(183,183,183,0.5);
    }

    .name-list-container {
        position: relative;
        margin: 0 auto;
        width: 80%;
        min-height: 7311px;
        overflow-x: hidden;
    }

    .s-row-header label {
        height: 50px;
        width: 400px;
        color: #8B8B8B;
        font-family: 'Niramit';
        font-size: 18px;
        font-weight: bold;
        line-height: 20px;
        position: relative;
        left: 19px;
        top: 30px;
    }

    .flex {
        display: block !important;
    }

    .book-content {
        width: 300px !important;
    }

    .line-3 {
        display:none;
    }

    .s-row > .s-col:first-child {
        border-right: none;
        max-width: none;
        position: relative;
        margin-left: 34px;
        margin-bottom:20px;
    }

}